*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #000000;
}
body{
    background: linear-gradient(to right, #f4ede2, #f7e3c6);
    height: 100vh;
}
.container{
    background: linear-gradient(to right ,#f6f0e9, #f7e7cf);
    box-shadow: 6px 8px 20px #e29b72;
    box-shadow: 16px 14px 13px 8px #e29b72;
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
    height: 600px;
    border-radius: 2em;
    transform: translate(-50%,-50%);
    position:absolute;
    top: 50%;
    left: 50%;
}
.header{
    padding: 10px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    border: #000000 2px solid;
    border-radius: 20px;
    padding: 7px;
}
.header .logo p{
    font-weight: bold;
}
.header .logo p span{
    font-weight: normal;
}
.header .nav i{
    font-size: 30px;
    cursor: pointer;
}
.nav ul li{
    display: inline;
    font-size: 18px;
    margin-right: 20px;
    font-weight:450 ;
    padding: 10px;
}
.nav ul li a:hover{
    color: #fd9764;
}

@media (min-width:768px) {
    .header .nav i{
    display: none;
    }
    .header .nav ul{
        list-style: none;
        display: inline-block;
    }}
    @media (max-width:767px){
        .header{
            position: relative;
        }
        
        .header .nav ul{
            display:none;
        }
        .header .nav:hover ul{
            display:flex;
            flex-direction: column;
            position: absolute;
            top:100%;
            right: 0;
            width: 23%;
            background-color: #e0a25bb0;
        }

         .header .nav:hover  ul li a{
           font-size: 15px;
           font-weight: bold;
           color: #636363;
        } 
        .header .nav ul li:hover a{
            color: #faf0e0;
        }
    }
.landing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing  .text{
    margin: 0px 125px 0px 21px;
}
.landing  .text h5{
    font-size: 44px;

    margin-bottom: 40px;
}
.landing  .text p{
    font-size: 12px;
    margin-bottom: 30px;
    color: #272626b4;
    line-height: 1.7;
}
.landing  .text button{
    background: linear-gradient(to right, #ffbf88, #fd9764);
    padding: 4px 20px;
    border: solid 2px rgb(255, 186, 141); 
    border-radius: 13px;
    color: #f4ede2;
    cursor: pointer;
}
.landing  .text button:hover{
    background: transparent;
    color: #e29b72;
}
.landing .img img{
    width: 545px ;
}
@media (min-width: 350px){
    .header .logo{
      padding: 5px;  
    }
    .header .logo a{ 
        font-size: 9px;
    }
    .landing {
        flex-direction: column;
        padding: 5px;
    }
    .landing .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
    }
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 14px;
        font-size: 25px;
    }
    .landing .text p {
        margin-bottom: 10px;
        font-size: 12px;
        text-align: center;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 12px;
        padding: 2px 10px;

    }
    .landing .img img {
        margin-top: 20px;
        width: 100%;
    }

}

@media (min-width: 450px){
    .header .logo{
      padding: 6px;  
    }
    .header .logo a{ 
        font-size: 9px;
    }
    .landing {
        flex-direction: column;
        padding: 5px;
    }
    .landing .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
    }
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 29px;
    }
    .landing .text p {
        margin-bottom: 12px;
        font-size: 12px;
        text-align: center;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 14px;
        padding: 2px 12px;

    }
    .landing .img img {
        margin-top: 20px;
        width: 330px;
    }

}
@media (min-width: 550px){
    .container{
        height: 600px; ;
    }
    .header .logo{
      padding: 7px;  
    }
    .header .logo a{ 
        font-size: 11px;
    }
    .landing {
        flex-direction: column;
        padding: 5px;
    }
    
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 16px;
        font-size: 37px;
    }
    .landing .text p {
        margin-bottom: 12px;
        font-size: 16px;
        text-align: center;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 15px;
        padding: 3px 14px;

    }
    .landing .img img {
        margin-top: 5px;
        width: 350px;
    }

}
@media (min-width: 767px){
    .container{
        height:400px;
    }
    .header .logo{
      padding: 7px;  
    }
    .header .logo a{ 
        font-size: 12px;
    }
    .landing {
        flex-direction: row;
    }
    .landing .text {
        display: flex;
        align-items: last baseline;
        margin: 0px 48px 0px 12px;
    }
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 28px;
        font-size: 34px;
    }
    .landing .text p {
        margin-bottom: 20px;
        font-size: 9px;
        text-align: left;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 15px;
        padding: 3px 14px;

    }
    .landing .img img {
        margin-top: 5px;
        width: 341px;
    }

}
@media (min-width: 900px){
    .container{
        height:450px;
    }
    .header .logo{
      padding: 7px;  
    }
    .header .logo a{ 
        font-size: 12px;
    }
    .landing {
        flex-direction: row;
    }
    .landing .text{
        display: flex;
        align-items: last baseline;
        margin: 0px 90px 0px 12px;
    }
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 28px;
        font-size: 39px;
    }
    .landing .text p {
        margin-bottom: 20px;
        font-size: 11px;
        text-align: left;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 15px;
        padding: 3px 14px;

    }
    .landing .img img {
        margin-top: 5px;
        width: 395px;
    }

}
@media (min-width: 1000px){
    .container{
        height:500px;
    }
    .header .logo{
      padding: 7px;  
    }
    .header .logo a{ 
        font-size: 12px;
    }
    .landing {
        flex-direction: row;
    }
    .landing .text{
        display: flex;
        align-items: last baseline;
        margin: 0px 70px 0px 12px;
    }
    .landing .text h5 {
        margin-top: 20px;
        margin-bottom: 28px;
        font-size: 46px;
    }
    .landing .text p {
        margin-bottom: 20px;
        font-size: 13px;
        text-align: left;
        color: #272626b4;
        line-height: 1.4;
    }
    .landing .text button {
        font-size: 15px;
        padding: 3px 14px;

    }
    .landing .img img {
        margin-top: 5px;
        width: 435px;
    }
}

@media (min-width: 1200px){
    .container{
        height:530px;
    }
    .landing .text{
        margin: 0px 166px 0px 12px;
    }
    .landing .text h5 {
        font-size: 46px;
    }
    .landing .text p {
        font-size: 13px;
        line-height: 1.4;
    }
    .landing .img img {
        margin-top: 5px;
        width: 470px;
    }
}
/*
@media (min-width: 1138px){

    .container{
        height: 540px;
    }
    .landing .img img {
        width: 480px;
    }


}
@media (min-width: 1000px){

    .container{
        height: 540px;
    }
    .landing .img img {
        width: 480px;
    }


}